@model IEnumerable<FinanceiroWeb.Models.NotaFiscal>

@{
    ViewData["Title"] = "Notas";
}

<h1>Notas</h1>

<p>
    <a asp-action="Create">Adicionar Nota</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePagador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroNota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCobranca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentoNota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentoBoleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePagador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroNota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCobranca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentoNota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentoBoleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NotaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NotaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NotaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
